h1 {
    color:rgb(202, 55, 18);
    text-align:center;
    font-size: 20px;
    font-family:arial;
    background-color:rgb(230, 155, 17)
}
p {
    color:red;
    font-family:arial;
    font-size: 16px;
}